body {
  font-family: Arial, sans-serif;
  background: #f2f6f9;
}

.container {
  width: 350px;
  margin: 80px auto;
  background: white;
  padding: 25px;
  border-radius: 8px;
}

h1, h2 {
  text-align: center;
}

label {
  display: block;
  margin-top: 12px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 18px;
  background: #0077cc;
  color: white;
  border: none;
}